
/*Beginning of Glass Header Styles*/
.glassHeaderBase{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.35turn, rgba(234, 236, 236, 1), rgba(253, 255, 255, 0.45), rgba(255, 255, 255, 1));
    box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0 2.5%;
}

.glassHeaderLogo{
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 3rem;
    font-style: italic;
    padding: 1rem;
}

.glassMenu{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 15%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 1rem 0;
}

.glassMenuItem{
    flex: 1 1 0;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.glassMenuItem1{
    flex: 1 1 0;
    width: 100%;
}

.glassMenuItem2{
    flex: 1 1 0;
    width: 100%;
}

@media only screen and (max-width: 1024px){
    .glassMenu{
        width: 30%;
    }
}

@media only screen and (max-width: 480px){
    .glassMenu{
        width: 65%;
        gap: 0;
    }

    .glassMenuItem1{
        width: 50%;
    }

    .glassMenuItem2{
        width: 50%;
    }

    .glassHeaderLogo{
        font-size: 2.5rem;
    }

}
/*End of Glass Header Styles*/

/*Beginning of Regular Header Styles*/
.regularHeaderBase{

}

.regularHeaderLogo{

}

.regularMenu{

}

.regularMenuItem{

}
/*End of Regular Header Styles*/